<h2> Forgot password page </h2>


<form action="<%= send_email_session_url %>" method="post">
  <input type="hidden" name="_method" value="put">
<label for="user_email">ENTer your email</label>
<input type="text" name="user[email]" id="user_email">

<input type="submit">
<%= auth_token %>
</form>