<%= render 'shared/flashes' %>

<h2>Log IN, Yo</h2>

<form action="/session" method="post">

<label for="email" >Email:</label>
<input type="text" id="user[email]" name="user[email]">

<label for="password" >Password:</label>
<input type="password" id="user[password]" name="user[password]">

<input type="submit" value="sign up">

<%= link_to "Forgot password?", forgot_password_session_url %>

<%= auth_token %>

</form>