
<%= action_url = @friend_circle.persisted? ? friend_circle_url(@friend_circle) : friend_circles_url %>

<form action="<%= action_url %>" method="post">

  <% if @friend_circle.persisted? %>
  <input type="hidden" name="_method" value="put">
  <% end %>
  <%= auth_token %>

  Select friends:<br>

  <input type="hidden" name="friend_circle[owner_id]" value="<%= current_user.id %>">

  <input type="hidden" name="friend_circle_memberships[member_ids][]" value="">
  <% @users.each do |user| %>
  <input type="checkbox" name="friend_circle_memberships[member_ids][]" value="<%= user.id %>"
  id="friend_circle_memberships_member_id_<%= user.id %>"
  <%= "checked" if @current_members.include?(user.id) %>>



  <label for="friend_circle_memberships_member_id_<%= user.id %>"><%= user.email %></label>
  <br>
  <% end %>

  <input type="Submit">

</form>