<%= render 'form', :friend_circle => @friend_circle %>


<!-- <form action="<%= friend_circles_url %>" method="post">
  <%= auth_token %>
  Select friends:<br>

  <input type="hidden" name="friend_circle[owner_id]" value="<%= current_user.id %>">

  <input type="hidden" name="friend_circle_memberships[member_id][]" value="">
  <% @users.each do |user| %>
  <input type="checkbox" name="friend_circle_memberships[member_id][]" value="<%= user.id %>" id="friend_circle_memberships_member_id_<%= user.id %>">


  <label for="friend_circle_memberships_member_id_<%= user.id %>"><%= user.email %></label>
  <br>
  <% end %>

  <input type="Submit" value="Create new friend circle">

</form> -->