<%= render 'shared/flashes' %>

<h2> Sign up here </h2>

<form action="/users" method="post">

<label for="email">Email:</label>
<input type="text" id="email" name="user[email]">

<label for="password">Password:</label>
<input type="password" id="password" name="user[password]">

<label for="post_body">First Post(Body):</label>
<input type="text" id="post_body" name="post[body]">

Links:
<% 3.times do |n| %>
  <label for="link_<%= n %>">Link <%= n %>: <input id="link_<%= n %>" name="link[<%= n %>][url]" type="text">
<% end %>
<br>

<input type="submit" value="sign up">

<%= auth_token %>

</form>