

<form action="<%= fix_password_users_url %>" method="get">

  <input type="hidden" name="user[email]" value="<%= @user.email %>">
  <input type="hidden" name="_method" value="put">

  <label for="user_password">Enter new password</label>
  <input type="text" name="user[password]">

  <input type="submit">
  <%= auth_token %>

</form>