  <!-- attr_accessible :author_id, :body, :title, :link_attributes -->
<% @posts.each do |post| %>


Body: <%= post.body %><br>
Author ID: <%= post.author_id %>
<br>
<ul>
<% post.links.each do |link| %>
<li> <%= link.url %>
</li>
<% end %>

</ul>
<% end %>