<form action="<%= posts_url %>" method="post">

  <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">
  <label for="body">Post body:</label>
  <input type="text" id="body" name="post[body]">

  Links:
  <% @post.links.each_with_index do |link, n| %>
    <label for="link_<%= n %>">Link <%= n %>: <input id="link_<%= n %>" name="link[<%= n %>][url]" type="text">
  <% end %>
  <br>
  Choose which friend circles to share this with:
  <% @user_friend_circles.each do |circle|%>
  <label for"post_share_id_<%= circle.id %>">Friend circle <%= circle.id %>:
  <input type="checkbox" name="post_share[friend_circle_id][]" value="<%= circle.id %>" id="post_share_id_<%= circle.id %>">

  <br>
  <% end %>
  <input type="submit">

  <%= auth_token %>

</form>