<!DOCTYPE html>
<html>
<head>
  <title>SocialThing</title>
</head>
<body>

  <% unless current_user.nil? %>
  Current user:<%= current_user.id %><br>
  <% end %>
  Params: <%= params %><p>


  <% unless current_user.nil? %>
  <%= button_to "Log Out", session_url, method: :delete %>
  <%= link_to "Make new friend circle", new_friend_circle_url %>
  <% end %>

<%= yield %>

</body>
</html>
